html, body {
	margin: 0;
	padding: 0;
	//min-width: 500px;
}

body {
	background-color: #2C4058;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

div, span {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

h1, h2, h3, h4, h5 {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	margin-bottom: 15px;
}
	
h3 {
	font-size: 2.8vmin;
	font-weight: 500;
	color: #CEE6FF;
	
	@media only screen and (max-width: 1200px) {
		font-size: 2vmax;
	}
	@media only screen and (max-width: 1400px) {
		font-size: 1.75em;
		font-weight: 600;
	}@media only screen and (max-width: 900px) {
		font-size: 1.6em;
		font-weight: 600;
	}
	@media only screen and (max-width: 767px) {
		font-size: 1.45em;
		font-weight: 600;
	}
}

h4 {
	color: #FFF;
	font-size: 1.2em;
	margin-bottom: 20px;
	font-weight: 700;
	@media only screen and (max-width: 900px) {
		font-size: 1.3em;
	}
}

p {
	font-family: Arial, Helvetica, sans-serif;
	color: #CEE6FF;
	line-height: 1.2em;
	font-size: 1.05em;
	@media only screen and (max-width: 900px) {
		font-size: 1.1em;
	}
}

.body {
	margin: 0 30px;
	@media only screen and (max-width: 550px) {
		margin: 0 20px;
	}
}
.column {
	margin: 0 auto;
	max-width: 2380px;
}

.title {
	display: flex;
	justify-content: flex-start;

	h1 {
		font-size: 10.36vh;
		font-family: "Montserrat", sans-serif;
		font-optical-sizing: auto;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		font-weight: 400;
		white-space: nowrap;
		letter-spacing: 0.5vh;
		line-height: 7.9vh;
		color: #FED55F;

		position: fixed;
		transform-origin: top left;
		left:0;
		top:0;
		transform: rotate(-90deg) translateX(-100%);

		@media only screen and (max-width: 900px) {
			font-size: 9vh;
			line-height: 6.5vh;
			top: 10px;
		}
		@media only screen and (max-width: 767px) {
			font-size: 5.8vh;
			line-height: 4.7vh;
		}
		@media only screen and (max-width: 550px) {
			font-size: 3.8vh;
			line-height: 3.7vh;
		}
	}

	h2 {
		font-size: 1.8vw;
		margin-bottom: 30px;
		color: #041d2b;
		font-weight: 500;
		
		@media only screen and (min-width: 2400px) {
			font-size: 2.8em;
		}

		@media only screen and (max-width: 2100px) {
			font-size: 2.4em;
		}

		@media only screen and (max-width: 1600px) {
			font-size: 2.3vw;
		}

		@media only screen and (max-width: 1400px) {
			font-size: 1.9em;
		}

		@media only screen and (max-width: 1200px) {
			font-size: 1.5em;
		}

		@media only screen and (max-width: 1000px) {
			font-size: 1.3em;
			font-weight: 600;
		}
		
		@media only screen and (max-width: 900px) {
			font-size: 1.3em;
			font-weight: 600;
			color: #021017; // darken for phones
		}
	}
}

.main {
	margin-top: 1.3vh;
	margin-left: 12.7vh;
	margin-right: 45px;
	padding-bottom: 45px;
	position: relative;

	@media only screen and (max-width: 1400px) {
		margin-right: 0px;
		display: flex;
		flex-direction: column;
	}
			
	@media only screen and (max-width: 900px) {
		margin-left: 7vh;
	}
	@media only screen and (max-width: 767px) {
		margin-left: 4.5vh;
	}
	@media only screen and (max-width: 550px) {
		margin-left: 3vh;
	}
}

.languages {
	color: #042131;
	margin-bottom: 50px;
	//margin-top: 30px;
	/*@media only screen and (max-width: 1200px) {
		font-size: 0.9em;
	}*/
	@media only screen and (max-width: 1400px) {
		display: none;
	}
}

.socials {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 22px;
	align-items: center;
	justify-content: flex-start;

	a {
		display: inline-block;
		height: 22px;
		opacity: 0.9;
		&:hover {
			opacity: 1;
		}
	}

	img {
		height: 100%;
		width: auto;
		box-sizing: border-box;
	}

	@media only screen and (max-width: 767px) {
		margin-bottom: 20px;
	}

	.github {
		padding: 2px 0;
		box-sizing: border-box;
	}
}

.navigation {
	position: sticky;
	top: 10px;
	display: flex;
	gap: 10px;
	margin-top: 45px;
	margin-bottom: 45px;
	z-index: 1000;
	//background-color: #38526F;
	//width: 400px;

	a {
		display: flex;
		background-color: #FED55F;
		color: #042131;
		padding: 12px 17px;
		text-decoration: none;
		font-weight: 600;
		font-size: 1.15em;
		font-family: "Open Sans", sans-serif;
		//flex: 1;
		justify-content: center;
		min-width: 130px;
	}

	.spacer {
		background-color: transparent;
		display: flex;
		align-self: stretch;
		flex: 1;
		@media only screen and (max-width: 1400px) {
			display: none;
		}
	}

	@media only screen and (max-width: 1400px) {
		width: 100%;
		a {
			font-size: 1.1em;
			padding: 10px 0px;
			flex: 1;
		}
	}

	@media only screen and (max-width: 900px) {
		justify-content: center;
		margin-left: 0;
		margin-top: 30px;
		width: auto;
		a {
			font-size: 1em;
			min-width: 0
		}
	}
}

.intro {
	@media only screen and (max-width: 1400px) {
		padding-right: 230px;
	}
	@media only screen and (max-width: 1000px) {
		padding-right: 0;
	}
}

.profile {
	float: right;
	position: absolute;
	right : 0;
	margin-left: 60px;
	margin-bottom: 30px;
	padding-right: 8px;
	
	img {
		height: 200px;
		z-index: 998;

		//@media only screen and (max-width: 1400px) {
			height: 167px;
		//}
	}

	& > div {
		background-color: #FED55F;
		padding: 12px 12px 8px 12px;
		margin-top: -5px;
		margin: -5px -8px 5px;
		z-index: 999;
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 10px;

		span {
			display: block;
			font-size: 1em;
			color: #736706;
			//margin-bottom: 2px;
		}
		
		span:first-child {
			font-weight: 600;
			color: #3e2c00;
			font-size: 1.15em;
		}
	}

	//@media only screen and (max-width: 1400px) {
		align-self: center;
		margin-left: 0;
		padding-right: 0;
		margin-top: 30px;
		margin-bottom: 30px;
		width: 418px;
		height: 167px;
		margin-bottom: 45px;
		margin-left: -10px;

		& > div {
			margin: 0;
			margin-left: 148px;
			position: relative;
			top: 0;
			height: 100%;
			z-index: 998;
			border-bottom: 2px solid #FED55F;
			height: 169px;
			box-sizing: border-box;
			padding: 15px 15px 14px 15px;
			padding-left: 60px;
		}
		& > img {
			z-index: 999;
			position: absolute;
			border-bottom: 2px solid #FED55F;
		}
	//}

	@media only screen and (max-width: 1400px) {
		float: none;
		position: relative;
	}
	@media only screen and (max-width: 900px) {
		//width: 100%;
		margin-left: 0;
		& > div {
			//background: linear-gradient(90deg, rgba(254,213,95,1) 49%, rgba(254,187,95,1) 100%);
			span {
				font-size: 1em;
			}
			span:first-child {
				font-size: 1.1em;
			}
		}
	}
	@media only screen and (max-width: 767px) {
		//width: 100%;
		& > div {
			background: #FED55F;
			span {
				font-size: 0.85em;
			}
			span:first-child {
				font-size: 0.95em;
			}
		}
	}
	@media only screen and (max-width: 600px) {
		width: 100%;
	}
	@media only screen and (max-width: 550px) {
		//width: 100%;
		& > div {
			margin-left: 142px;
			padding-right: 8px;
			background: #FED55F;
			span {
				font-size: 0.7em;
			}
			span:first-child {
				font-size: 0.82em;
				white-space: nowrap;
				letter-spacing: -0.3px;
			}
		}
	}
}

.timeline {
	@media only screen and (min-width: 1401px) {
		background-image: linear-gradient(#000, #000);
		background-size: 2px 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	.timeline-section {
		&.left, &.right {
			width: 50%;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
		}
		@media only screen and (min-width: 1401px) {
			&.right {
				align-self: flex-end;
				justify-content: flex-start;
				flex-direction: row-reverse;
			}
		}
		@media only screen and (max-width: 1400px) {
			&.left, &.right {
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}

	.company-bio {
		flex: 1;
		margin-right: 30px;
		background-color:#38526F;
		padding: 24px;
		padding-top: 20px;
		div {
			margin-bottom: 5px;
			font-size: 1.12em;
			color:#CEE6FF;
			@media only screen and (max-width: 900px) {
				font-size: 1.2em;
			}
		}
		p {
			color:#CEE6FF;
			font-size: 0.95em;
			margin: 0;
			margin-top: 15px;
			line-height: 1.4em;

			@media only screen and (max-width: 900px) {
				font-size: 1.05em;
			}
			@media only screen and (max-width: 767px) {
				font-size: 1.1em;
			}
		}

		@media only screen and (max-width: 900px) {
			margin-right: 15px;
		}

		@media only screen and (max-width: 550px) {
			margin-right: 0px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-top: 15px;
			display: flex;
			gap: 5px;
			flex-wrap: wrap;
			
			li {
				display: inline-flex;
				padding: 6px 7px;
				background-color: #6495d542;
				color: #081b26;
				border-radius: 3px;
				font-size: 0.8em;
			}
		}
	}

	@media only screen and (min-width: 1401px) {
		.timeline-section.right .company-bio {
			margin-right: 0px;
			margin-left: 30px;
		}
	}

	.company-image {
		display: flex;

		@media only screen and (min-width: 1401px) {
			width: 30%;
			background: linear-gradient(
				180deg, 
		        rgba(0,0,0,0) calc(50% - 1px), 
		        rgba(0,0,0,1) calc(50%), 
		        rgba(0,0,0,0) calc(50% + 1px)
		    );
		}

		@media only screen and (max-width: 550px) {
			display: none;
		}

	    img {
			max-height: 120px;
			@media only screen and (max-width: 900px) {
				max-height: 80px;
			}
		}

		position: relative;

		@media only screen and (min-width: 1401px) {
			&::before {
		       content: '';
		       display: inline-block;
		       width: 10px;
		       height: 10px;
		       -moz-border-radius: 5px;
		       -webkit-border-radius: 5px;
		       border-radius: 5px;
		       background-color: #000;
		       position: absolute;
		       top: 50%;
		       right: -5px;
		       margin-top: -5px;
		    }
		}
	}

	@media only screen and (min-width: 1401px) {
		.timeline-section.right .company-image {
			justify-content: flex-end;

			&::before {
				right: auto;
				left: -5px;
			}
		}
	}
}